/* General Styles */

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

  /* Set up background image on whole site */

  body {
    background-image: url(/photo/DSC_1042.JPG);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    transition: background-image 0.4s ease;
  }

  .darkenedBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: -1;
  }

  
  /* Set up location and logic of body element */
  body {
    font-family: "Helvetica", sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .mainContainer {
    margin: 0 6em;
  }

  /* Set up colour of fonts */
  li, h1, h2, button, label, p {
    color: #fff5d7;
  }

  




  /* Navbar Styles on main page */

  /* Set up links design */
  .navbar ul  li {
    font: 1.1em "Helvetica Light", sans-serif;
    letter-spacing: .1em;
    font-weight: 400;
  }

  /* Set up location and logic of navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .navbar-nav, .navbar-soc {
    list-style-type: none;
    margin: 2em 0 0 0;
    padding: 0;
    display: flex;
  }

  .navbar-nav li {
    padding: .6em 0 0 1.6em;
  }

  .navbar-nav li:first-child {
    padding: .2em 0 0 0;
  }

  .navbar-soc li:not(:first-child) {
    margin-left: 1.5em;
  }

 





  /* Main Styles on main page */

  /* Set up location, size and logiv of main section */
  main {
    display: flex;
    min-height: 90vh;
  }

  .mainText {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-right: 34em;
  }

  .blockOfText {
    justify-content: flex-start;
    align-items: flex-end;
    padding-bottom: 5em;
  }

  .blockOfText h1 {
    font: 4em Helvetica, sans-serif;
    margin: .9em 0em;
    font-weight: 400;
  }

  .blockOfText p {
    font: 1.3em "Helvetica Light", sans-serif;
    letter-spacing: .4em;
    margin: 0 0 0 .5em;
    font-weight: 300;
  }








/* Set container styles */
.contactContainer {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
}

.aboutContainer {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
}

.menuContainer {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
}

 /* styles of contact page */


/* Set font and color */
.contact-form label {
  font: "Helvetica Light", sans-serif;
}

.contact-form h2 {
  font: 2em "Helvetica", sans-serif;
  margin: .6em 0 .7em 0;
  font-weight: bold;
}

.contact-form {
  width: 37em;
  margin: 0 auto;
  text-align: center;
  padding: 2em;
}

.form-group {
  text-align: left;
}

.contact-form .form-group {
  margin-bottom: 1em;
}

.contact-form label {
  font-weight: 300;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="phone"],
.contact-form textarea {
  width: 100%;
  padding: 0.4em;
  border-radius: .9em;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid #fff5d7;
  font: 1.1em "Helvetica Light", sans-serif;
  color: #ffffff;
  font-weight: 300;
}

.contact-form textarea {
  height: 12em;
  margin: .2em 0 0 0;
  resize: none;
}

.contact-form input {
  height: 2.5em;
  margin: .1em 0 0 0;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: .1em solid #fff5d7;
  border-color: #fff5d7;
}

.contact-form .form-group.buttons {
  display: flex;
  justify-content: space-between;
}

.contact-form button {
  font: 1em "Helvetica", sans-serif;
  font-weight: 400;
  padding: 0.6em 1.2em;
  margin: 0 0.3em;
  border: none;
  border-radius: 0.5em;
  color: #fff5d7;
  cursor: pointer;
  background-color: #fff5d743;
}

.buttons button:hover {
  background-color: #fff5d7;
  color: #86B049;
}

.contact-form .otherContacts {
  margin-top: .5em;
  display: flex;
  justify-content: space-around;
}

.contact-form p {
  font: .9em "Helvetica Light", sans-serif;
  color: #fff5d787;
  font-weight: 200;
} 

.otherContacts a,
.otherContacts a:link,
.otherContacts a:hover,
.otherContacts a:focus,
.otherContacts a:active  {
  text-decoration: none !important;
}

.contact-form .otherContacts p {
  margin: 0;
}



/* Set form "About" section */

.aboutContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 55em;
  min-width: 40em;
}

.aboutContent img {
  width: 13em;
  height: 13em;
  border-radius: 50%;
}

.aboutContent h2 {
  font: 2em "Helvetica", sans-serif;
  letter-spacing: .04em;
  margin: .7em 0;
  font-weight: 500;
}

.aboutContent p {
  font: 1.1em "Helvetica Light", sans-serif;
  letter-spacing: .07em;
  line-height: 1.3em;
  font-weight: 300;
}

.aboutContent p:nth-of-type(2),
.aboutContent p:nth-of-type(3) {
  margin: 0 0 1em 0;
}

.authorInfo {
  text-align: center;
}


/* Set Menu icon section */

.languageSelect {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 10em;
}

.languageSelect p {
  font-weight: 400;
  font: 1.1em "Helvetica Light", sans-serif
}


















  /* styles of the responsive site */
