/* General Styles */


html {
    background: url(/photo/AirBrush_20210428125639.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body {
    font-family: 'Helvetica', Arial, sans-serif;
    margin: 0;
    padding: 0 8em;
    min-height: 100vh;
  }

  li, h1, p {
    color: #8FCA4D;
  }

  




  /* Navbar Styles */

  a {
    color: unset;
    text-decoration: none;
    font: 1.1em "Helvetica Light", sans-serif;
    letter-spacing: .1em;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .navbar-nav, .navbar-soc {
    list-style-type: none;
    margin: 4vh 0 0 0;
    padding: 0;
  }

  .navbar-nav li, .navbar-soc li {
    display: inline;
  }

  .navbar-nav li {
    margin-left: 3vh;
  }

  .navbar-soc li:not(:first-child) {
    margin-left: 2vh;
  }





  /* Main Styles */

  main {
    display: flex;
    min-height: 85vh;
  }

  .mainText {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .blockOfText {
    width: 70vh;
    margin: 6vh 0;
  }

  .blockOfText h1 {
    font: 4em Helvetica, sans-serif;
  }

  .blockOfText p {
    font: 1.3em "Helvetica Light", sans-serif;
    letter-spacing: .5em;
  }

  h1 {
    margin: .5em 0em;
  }

  p {
    margin: 0;
  }