/* positioning */
.aboutContainer {
    height: max-content;
    display: flex;
    justify-content: center;
}

.aboutContent {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.aboutContent img,
.aboutContent h2,
.aboutContent p {
    display: flex;
    justify-content: center;
    text-align: center;
}



/* styling */
.aboutContent {
    margin: 1.2em;
}

.aboutContent img {
    width: 13em;
    height: 13em;
    border-radius: 50%;
    margin: 0;
}

.aboutContent h2 {
    font-size: 2.2em;
    font-weight: 600;
    margin: 1em 0 .5em 0;
}

.aboutContent p {
    font-size: 1.6em;
    font-weight: 300;
    margin: .4em 0;
}

/* responsivness */
@media (min-width: 767px) {
    .aboutContainer {
        height: 100vh;
        align-items: center;
    }

    .aboutContent p {
        font-size: 1.4em;
    }
}

@media (min-width: 850px) {
    .aboutContent {
        margin: 1.2em 3em 1.2em 3em;
    }


}

@media (min-width: 1080px) {
    .aboutContent {
        width: 80%;
        margin: 0;
    }
}