/* positioning */
.menuContainer {
   height: 100vh;
   display: none;
   justify-content: center;
   align-items: center;
}

.menuSelect,
.languageSelect {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menuSelect {
    align-items: center;
    flex-direction: column;
    width: 28vh;
}

.languageSelect {
    width: 22vh;
    justify-content: space-around;
}


/* styling */
.languageSelect {
    margin-top: .9em;
}

.menuSelect li {
    font-size: 1.8em;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: .3em;
}

.languageSelect li {
    font-size: 1.2em;
    font-weight: 100;
    color: #fff5d787;
    cursor: pointer;
}