/* positioning */
.contactContainer {
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}

.contact-form {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.otherContacts {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.contact-form .form-group.buttons {
    display: flex;
    justify-content: space-between;
}


/* styling */
.contact-form label {
    font-size: 1.1em;
    font-weight: 200;
}

.contact-form {
    width: 85%;
}

.form-group {
    text-align: left;
    margin-bottom: .6em;
}

.contact-form h2 {
    font-size: 2.5em;
    font-weight: 600;
    margin: 0 0 .6em 0;
}

.contact-form input[type = "text"],
.contact-form input[type = "email"],
.contact-form textarea {
    width: 100%;
    padding: .3em;
    border-radius: .6em;
    background-color: transparent;
    border: 1px solid #fff5d7;
    font-size: 1.1em;
    color: #fff5d7e1;
    font-weight: 300;
}

.contact-form textarea {
    height: 14em;
    margin: .2em 0 0 0;
    resize: none;
    font-size: 1.2em;
}
  
.contact-form input {
    height: 2.5em;
    margin: .1em 0 0 0;
}

.contact-form input:focus,
.contact-form textarea:focus,
.contact-form input:hover,
.contact-form textarea:hover,
.contact-form input:active,
.contact-form textarea:active {
  outline: .1em solid #fff5d7;
  border-color: #fff5d7;
  border-radius: .6em;
}

.contact-form button {
    font-size: 1.2em;
    font-weight: 400;
    padding: .4em .6em;
    border: none;
    border-radius: .5em;
    color: #fff5d7;
    background-color: #fff5d743;
}

.buttons button:hover,
.buttons button:active,
.buttons button:hover {
    background-color: #fff5d7;
    color: #86B049;
  }

.otherContacts a {
    font-size: 1em;
    text-decoration: none !important;
    color: #fff5d789;
}

.otherContacts p {
    margin: .6em 0;
}

/* responsivness */
@media (min-width: 767px) {
    .contact-form {
        width: 70%;
    }
}

@media (min-width: 1024px) {
    .contact-form {
        width: 55%;
    }
}

@media (min-width: 1150px) {
    .contact-form {
        width: 50%;
        max-width: 35em;
    }
}