/* positioning */
.aboutContainer {
    height: max-content;
    display: none;
    justify-content: center;
}

.aboutContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: max-content;
}

.aboutContent img,
.aboutContent h2,
.aboutContent p {
    display: flex;
    justify-content: center;
    text-align: center;
}



/* styling */
.aboutContent {
    margin: 1.2em;
}

.aboutContent img {
    width: 13em;
    height: 13em;
    border-radius: 50%;
    margin: 0;
}

.aboutContent h2 {
    font-size: 2.2em;
    font-weight: 600;
    margin: 1em 0 .5em 0;
}

.aboutContent p {
    font-size: 1.6em;
    font-weight: 300;
    margin: .4em 0;
}

/* responsivness */
@media (min-width: 767px) {
    .aboutContainer {
        height: 100vh;
    }

    .aboutContent img {
        margin-top: 1.9em;
    }

    .aboutContent p {
        font-size: 1.4em;
    }

}

@media (min-width: 850px) {
    .aboutContent {
        margin: 1.2em 3em 1.2em 3em;
    }

    .aboutContent img {
        margin-top: 3em;
    }

}

@media (min-width: 1080px) {
    .aboutContent {
        max-width: 70em;
        margin: 1.2em 0 0 0;
    }
}

@media (min-width: 2000px) {
    .aboutContent {
        max-width: 60em;
    }
}
