/* use grid, not flexbox!!! */
/* positioning */
.portfolioContainer {
    height: max-content;
    display: none;
    justify-content: center;
}

.portfolioContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

.previewContainer {
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}

/* styling */
.portfolioContent {
    margin: 3.2em;
}

.portfolioContent a:not(:first-child) {
    margin-top: 2.2em;
}

.portfolioContent img {
    width: 100%;
}

.previewContainer img {
    width: 75%;
    height: auto;
}

/* responsivness */
@media (min-width: 767px) {
    .portfolioContent {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .portfolioContent a {
        display: flex;
        align-items: center;
        width: 20%;
        margin: 2.2em .8em 0 .8em;
    }
    
}

@media (min-width: 1024px) {
    .portfolioContent {
        max-width: max-content;
    }

    /* .previewContainer img {
        height: auto;
        max-height: 90vh;
        width: auto;
        max-width: 100vh;
    } */
}