*,
*::before,
*::after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: greyscale;
  font-kerning: auto;
}

html {
  font-size: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  height: 100vh;
}

body {
  color: #fff5d7;
  font-family: "Helvetica", sans-serif;
  background: #000;
  margin: 0;
  height: 100vh;
}







/* positioning */
.mainContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar-nav,
.navbar-soc {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.mainText {
  display: flex;
}


/* styling */
.navbar-soc {
  display: none;
}

.navbar-nav li {
  margin-top: 1.2em;
  cursor: pointer;
}

.mainText {
  margin: 0 1.2em 6.2em 1.2em;
}

.mainText h1 {
  font-size: 3.1em;
  font-weight: 400;
  cursor: default;
  margin: 0;
  margin-bottom: .3em;
}

.blockOfText p {
  font-size: 1.3em;
  font-weight: 200;
  letter-spacing: .07em;
  cursor: default;
  margin: 0;
}

/* responsivness */
@media (min-width: 650px) {
  .blockOfText {
    width: 75%;
  }
}

@media (min-width: 767px) {
  .navbar {
    justify-content: space-between;
    margin: 1.2em 1.2em 0 1.2em;
  }

  .navbar-soc {
    display: flex;
  }

  .navbar-soc li {
    margin-top: 1em;
  }

  .navbar-soc li:not(:first-child) {
    margin-left: 1em;
  }

  .mainText h1 {
    font-size: 3.5em;
  }
  
  .blockOfText p {
    font-size: 1.4em;
  }


}

@media (min-width: 1024px) {
  .blockOfText {
    width: 65%;
  }

  .mainText h1 {
    font-size: 4em;
  }
  
  .blockOfText p {
    font-size: 1.5em;
  }

}